main.admin-panel .admin-section-promoted {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
}
main.admin-panel .admin-section-promoted h3 {
  margin-bottom: 4px;
}
main.admin-panel .admin-section-promoted .promoted-admin-list {
  background-color: rgba(154, 255, 145, 0.2);
  border: 3px solid black;
  padding: 20px;
}
main.admin-panel .admin-section-promoted .promoted-admin-list .promoted-product {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main.admin-panel .admin-section-promoted .promoted-admin-list .promoted-product img {
  border: 2px solid black;
}
main.admin-panel .logout-link {
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 120%;
  font-weight: 500;
  width: 180px;
  padding: 12px;
  border: 3px solid black;
  border-radius: 10px;
  transition-duration: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
main.admin-panel .logout-link:hover {
  text-decoration: underline;
  scale: 1.15;
}
main.admin-panel .input-search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main.admin-panel .input-search input {
  font-size: 140%;
  border-radius: 8px;
  border: 3px solid black;
  padding: 4px;
}
main.admin-panel h1 {
  text-align: center;
  font-size: 36px;
  margin: 10px;
}
main.admin-panel h2 {
  border-bottom: 4px solid black;
}
main.admin-panel .admin-section-orders {
  display: flex;
}
main.admin-panel .admin-section-orders .orders-admin-list {
  height: 600px;
  background-color: rgba(154, 255, 145, 0.2);
  border: 3px solid black;
  padding: 20px;
  overflow-y: auto;
}
main.admin-panel .admin-section-orders .orders-admin-list input {
  font-size: 140%;
  border-radius: 6px;
  border: 3px solid black;
  padding: 4px;
  margin-bottom: 16px;
}
main.admin-panel .admin-section-orders .orders-admin-list .order-admin {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 130%;
  margin-bottom: 20px;
  column-gap: 28px;
  row-gap: 6px;
  background-color: white;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
}
main.admin-panel .admin-section-orders .orders-admin-list .order-admin select {
  font-size: 100%;
  padding: 8px 2px;
  font-weight: 500;
}
main.admin-panel .admin-section-products {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  padding-bottom: 20px;
}
main.admin-panel .admin-section-products .change-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
main.admin-panel .admin-section-products .change-product-list .change-product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 90%;
}
main.admin-panel .admin-section-products .change-product-list .change-product-item img {
  transition-duration: 200ms;
  cursor: pointer;
}
main.admin-panel .admin-section-products .change-product-list .change-product-item img:hover {
  scale: 1.1;
  rotate: 25deg;
}
main.admin-panel .admin-section-products .admin-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 3px solid black;
  padding: 0 20px 20px 20px;
  max-width: 500px;
  background-color: rgba(154, 255, 145, 0.2);
}
main.admin-panel .admin-section-products .admin-form #sizesContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
main.admin-panel .admin-section-products .admin-form input {
  font-size: 90%;
  border-radius: 6px;
  border: 3px solid black;
  padding: 4px;
}
main.admin-panel .admin-section-products .admin-form select {
  font-size: 90%;
  width: 140px;
  padding: 6px 2px;
  font-weight: 500;
}
main.admin-panel .admin-section-products .admin-form .main-label {
  font-weight: 500;
  font-size: 130%;
}
main.admin-panel .admin-section-products .admin-form label {
  font-size: 110%;
}
main.admin-panel .admin-section-products .admin-form button {
  background-color: #9AFF91;
  padding: 8px 20px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: 500;
  font-size: 120%;
  transition-duration: 300ms;
  cursor: pointer;
}
main.admin-panel .admin-section-products .admin-form button:hover {
  scale: 1.1;
}
main.admin-panel .admin-section-products .product-admin-list {
  height: 600px;
  background-color: rgba(154, 255, 145, 0.2);
  border: 3px solid black;
  padding: 20px 40px 20px 20px;
  overflow-y: auto;
}
main.admin-panel .admin-section-products .product-admin-list .edit-product-admin {
  padding: 10px 4px;
  border: 3px solid black;
  background-color: white;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 16px;
}
main.admin-panel .admin-section-products .product-admin-list input {
  font-size: 140%;
  border-radius: 6px;
  border: 3px solid black;
  padding: 4px;
  margin-bottom: 16px;
}
main.admin-panel .admin-section-products .product-admin-list .product-admin {
  display: flex;
  align-items: center;
  font-size: 130%;
  height: 120px;
  margin-bottom: 20px;
  gap: 20px;
}
main.admin-panel .admin-section-products .product-admin-list .product-admin .trash-btn {
  background: none;
  border: none;
  padding: 0px;
  transition-duration: 200ms;
  cursor: pointer;
}
main.admin-panel .admin-section-products .product-admin-list .product-admin .trash-btn:hover {
  scale: 1.2;
  rotate: 45deg;
}
main.admin-panel .admin-section-products .product-admin-list .product-admin img {
  object-fit: contain;
  height: 120px;
}

/*# sourceMappingURL=admin-panel.css.map */
