@import "globals";

main.admin-panel{

  h1{
    text-align: center;
    font-size: 36px;
    margin: 10px;
  }

  .product-admin-list{
    height: 900px;
    width: 800px;
    background-color: $basic_green_half;
    border: 3px solid black;
    padding: 10px;
    overflow-y: scroll;

    .product-admin{
      display: flex;
      align-items: center;
      font-size: 130%;
      height: 120px;
      gap: 20px;

      .trash-btn {
        background: none;
        border: none;
        padding: 0px;
        transition-duration: 200ms;
        cursor: pointer;

        &:hover {
          scale: 1.2;
          rotate: 25deg;
        }
      }

      img{
        object-fit: contain;
        max-height: 120px;
      }
    }
  }
}