@import "globals";

.filtering{
  font-size: 120%;

  .filter-type{
    margin-bottom: 30px;

    .content{
      display: flex;
      gap: 10px;
      margin: 8px 0 12px 0;
      flex-direction: column;
      align-items: baseline;

      .clear-filtering{
        color: red;
      }

      a:hover{
        text-decoration: underline;
      }
    }

    .filter-title{
      cursor: pointer;
      border-bottom: 1px solid black;
      @include flex-between;
    }

    .toggle {
      font-size: 24px;
      margin-right: 10px;
      transition: transform 0.3s;
      display: flex;
    }

    .closed {
      transform: rotate(-180deg);
    }
  }
}