$basic_green: #9AFF91;
$basic_green_half: #9AFF9133;
$small: 560px;
$mobile: 900px;
$tablet: 1200px;

@mixin lines {
  content: "";
  background: gray;
  height: 1px;
  width: 100%;
  position: absolute;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin go-next-btn{
  @include flex-center;
  gap: 10px;
  padding: 6px;
  font-size: 120%;
  font-weight: 500;
  font-style: italic;
  background-color: $basic_green;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;

  &:hover{
    text-decoration: underline;
    scale: 1.1;
  }
}