@import "globals";

.index {

  .main-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 400px;

    img {
      position: absolute;
    }
  }

  .product-slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    a {
      color: rgba(0, 0, 0, 0.7);
      text-decoration: underline;
      font-size: 140%;
    }

    .prev-button, .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      background-color: $basic_green;
      border-radius: 50%;
      @include flex-center;
      width: 60px;
      height: 60px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 4px 1px;
      }

      img {
        width: 50px;
      }
    }

    .prev-button {
      left: 4px;
    }

    .next-button {
      right: 4px;
    }

    .slider-container {
      flex: 1;
      overflow: hidden;

      img {
        object-fit: contain;
        height: 380px;
        width: 380px;
      }
    }

    .slider {
      display: flex;
      transition: transform 0.5s;

      .product-slide {
        flex: 0 0 100%; /* Display two products side by side */
        display: flex;
        justify-content: center; /* Space between the products */
        flex-wrap: wrap;

        .product {
          align-items: center;
          padding: 0;
          position: relative;
          margin: 10px;

          &:hover {
            box-shadow: 0 0 6px 1px;
          }

          a{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
          }

          a:hover {
            .link-from-slider {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }


  h1 {
    font-size: 200%;
    text-align: center;
    letter-spacing: 4px;
  }

  p {
    font-size: 150%;
    text-align: center;
  }
}


@media (max-width: $tablet) {
  .index {
    .product-slider {
      .slider-container{
        img {
          height: 280px;
          width: 280px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .index {
    .product-slider {
      .slider-container{
        img {
          height: 180px;
          width: 180px;
        }
      }
    }
  }
}

@media (max-width: $small) {
  .index {
    .product-slider {
      .prev-button, .next-button {
        width: 40px;
        height: 40px;

        img {
          width: 30px;
        }
      }
      .slider-container{
        img {
          height: 120px;
          width: 120px;
        }
      }
    }
  }
}
