.product-page {
  display: flex;
  flex-wrap: wrap;

  .left {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .right {
    padding-left: 10px;

    .list{
      display: flex;
      gap: 20px;
    }

    .product-on-list {
      border: 1px solid gray;
      margin-bottom: 20px;
      width: 200px;
      text-align: center;

      .producer-image{
        margin: 10px auto;
      }

      .product-image{
        min-height: 200px;
        object-fit: contain;
      }

      .product-price{
        font-weight: 500;
        font-size: 130%;
      }

      a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &:hover{
          box-shadow: gray 0 0 7px 1px;

          .product-name{
            text-decoration: underline;
          }
        }
      }

      p{
        font-size: 120%;
        padding: 10px;
      }
    }
  }
}