@import "globals";

.products-page {
  display: flex;

  .left {
    width: 210px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding: 10px;
  }

  .right {
    padding-left: 10px;

    .sorting-nav{
      @include flex-between;

      select{
        font-size: 120%;
        padding: 8px;
        font-weight: 500;
        border: 3px solid black;
        border-radius: 6px;
      }
    }

    .list{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .product-on-list {
      border: 1px solid gray;
      margin-bottom: 20px;
      width: 200px;
      text-align: center;

      .producer-image{
        margin: 10px auto;
      }

      .product-image{
        min-height: 200px;
        object-fit: contain;
      }

      .product-price{
        font-weight: 500;
        font-size: 130%;
      }

      a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &:hover{
          box-shadow: gray 0 0 7px 1px;

          .product-name{
            text-decoration: underline;
          }
        }
      }

      p{
        font-size: 120%;
        padding: 10px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .products-page{
    flex-wrap: wrap;
  }
}

@media (max-width: $small) {
  .products-page{
    justify-content: center;

    .right{
      padding-left: 0;

      .list{
        justify-content: space-between;
        gap: 0;

        .product-on-list{
          width: 49%;
        }
      }
    }
  }
}
