@import "globals";

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

  .desc-part{

    h2{
      font-size: 160%;
      margin: 8px 0;
    }

    .title{
      margin: 20px 0;
      font-size: 160%;
      font-style: italic;
    }

    .categories{
      margin: 20px 0 0 0;
      font-size: 110%;

      a{
        margin-right: 20px;
        font-style: italic;

        &:hover{
          text-decoration: underline;
        }
      }

      small{
        color: gray;
        display: block;
      }
    }
  }
  .price-part{
    display: flex;
    flex-direction: column;

    select{
      font-size: 130%;
      padding: 4px 10px;
      border: 3px solid black;
      border-radius: 10px;
      margin: 10px 0;
    }

    button{
      border-radius: 10px;
      padding: 10px;
      margin: 10px 0;
      background: $basic_green;
      font-size: 130%;
      font-weight: 500;
      border: 3px solid black;
      transition-duration: 300ms;
      cursor: pointer;

      &:hover{
        scale: 1.15;
        box-shadow: 0 0 10px 1px;
      }
    }

    p{
      font-size: 140%;
      font-weight: 500;
    }
  }
}

@media (max-width: $tablet) {
  .product {
    .image-part{
      img{
        width: 400px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .product {
    flex-direction: column;
    align-items: flex-start;

    .image-part{
      img{
        width: 300px;
      }
    }
  }
}